        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="https://www.flamelily.co.uk/">Flamelily IT &copy; Copyright 2023</a><br>
        {% endif %}
          Connect with us on Twitter <a href="https://twitter.com/{{ site.twitter_username }}">Flamelily IT</a>.
        </footer>
 
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>