        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="https://www.flamelily.co.uk/">Flamelily IT</a><br>
        {% endif %}
          Connect with us on Twitter <a href="https://twitter.com/{{ site.twitter_username }}">Flamelily IT</a>.
        </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>