    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/coffee.html">🇬🇧UK🇬🇧</a></li>
                  <li><a href="/computer.html">🇪🇺EU🇪🇺</a></li>
                  <li><a href="/phone.html">Firmware</a></li>
                </ul>
              </nav>
            </div>