<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for note -->
    <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #eba834;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div id="note">
            STOCK UPDATE
            here <a href="https://scsi.blue/" target="_blank">🌐scsi.blue🌐</a>NEW cheaper prices for 2023. Please be patient on delivery as this is not Amazon. You will receive a dispatch email from Paypal to your registered Paypal email, thanks.<a id="close">[CLOSE]</a>
            </div>
              <h3 class="masthead-brand">BlueSCSI</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="https://bluescsi.flamelily.co.uk">Home</a></li>
                  <li><a href="https://bluescsi.flamelily.co.uk/uk/">🇬🇧UK🇬🇧</a></li>
                  <li><a href="https://bluescsi.flamelily.co.uk/eu/">🇪🇺EU🇪🇺</a></li>
                  <li><a href="https://bluescsi.flamelily.co.uk/firmware/">Firmware</a></li>
                </ul>
              </nav>
            </div>