<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VL02J7KR93"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VL02J7KR93');
</script>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
   {% unless page.tags contains 'nopaypal' %}
   <script src="https://www.paypal.com/sdk/js?client-id=ASX4J0fvrLVv3LPCHVTFiKKRgoZ2QRMN3n90vqlzL1F0vcSFVkHOqxubEwbRlwOkOtRFWKilioV3ubsV"></script>
   {% endunless %}
<!-- end custom head snippets -->