  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Bluescsi</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/uk.html" class="nav-link">🇬🇧UK🇬🇧</a></li>
        <li class="nav-item"><a href="/computer.html" class="nav-link">🇪🇺EU🇪🇺</a></li>
        <li class="nav-item"><a href="/desktopkituk.html" class="nav-link">Desktopkituk</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>