<!-- Custom styles for note -->
    <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #eba834;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>

            <div id="note">
            STOCK UPDATE
            here <a href="https://scsi.blue/" target="_blank">🌐scsi.blue🌐</a>NEW cheaper prices for 2023. Please be patient on delivery as this is not Amazon. You will receive a dispatch email from Paypal to your registered Paypal email, thanks.<a id="close">[CLOSE]</a>
            </div>
    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>    