<!-- Custom styles for note -->
    <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #f1ca84;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>

            <div id="note">
            STOCK UPDATE <a href="https://scsi.blue/" target="_blank"> 🌐scsi.blue🌐 </a> Please read this page cafefully and Buyers from the EU and ROW use the EU page to purchase. Please be patient for delivery, due to this being a hobby site.<a id="close">[CLOSE]&#10060;</a>
            </div>
    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>    