<!-- Custom styles for note -->
    <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #f1ca84;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>

            <div id="note">
            DISPATCH of current orders will be 4th Sept due to our summer holiday. Thanks for your patience. Please see <a href="/picowifi">NEW Pico Wifi option</a>. Please view our <a href="/print">3D Print info </a><a id="close">[CLOSE]&#10060;</a>
            </div>
    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>    